*.zip
*.pdf
*.png
Faculdade.workspace.code-workspace
/AOC
/AOCII/Mips_V12
/PampecJr/Entr
/POO/.metadata/
/POO/MyJavaCoffee/.vscode
/POO/MyJavaCoffee/bin
/POO/MyJavaCoffee/lib
/POO/ASP02/.vscode
/POO/ASP02/bin
/POO/ASP02/lib
/POO/CelsiusGUI/.vscode
/POO/CelsiusGUI/bin
/POO/CelsiusGUI/lib
/POO/FileHandling/.vscode
/POO/FileHandling/bin
/POO/FileHandling/lib
/POO/Prova2POO/.vscode
/POO/Prova2POO/bin
/POO/Prova2POO/lib
/POO/ASP03/.vscode
/POO/ASP03/bin
/POO/ASP03/lib
/POO/ASP04/.vscode
/POO/ASP04/bin
/POO/ASP04/lib
/Microcontroladores/.vscode